{% extends 'base.html.twig' %}

{% block title %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    {% for label, messages in app.flashes %}
        <div class="alert ">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}


    <div class="sortie-grid">
       {#
       {% for sortie in sortie %}
            <div class="sortie-card">
                <a href="{{ path('sortie_app_inscription', {'id': sortie.id}) }}">{{ sortie.name }}</a><br>
                <a href="{{ path('sortie_app_delete', {'id': sortie.id}) }}" class="sortieDelete">Se désister</a>
                <a href="{{ path('app_detail_sortie', {'id': sortie.id}) }}" class="sortieDelete">Détails</a>
            </div>


        {% endfor %}
       #}

        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Inscription</th>
                <th>Se désister</th>
                <th>Détails</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sortie %}
                <tr>
                    <td>{{ sortie.name }}</td>
                    <td>
                        <a href="{{ path('sortie_app_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                    </td>
                    <td>
                        <a href="{{ path('sortie_app_delete', {'id': sortie.id}) }}" class="sortieDelete">Se désister</a>
                    </td>
                    <td>
                        <a href="{{ path('app_detail_sortie', {'id': sortie.id}) }}">Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune sortie disponible.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#
        <div class="lesUtilisateurs">
            <a href="{{ path('app_register_admin') }}">Inscrire un nouvel utilisateur</a>

            {% for user in user %}

                <ul>
                    <li>{{ user.firstName }}</li>
                    <li>{{ user.email }}</li>
                    <li>{{ user.phoneNumber }}</li>
                </ul>

            {% endfor %}
        </div> #}


    </div>





{% endblock %}

