{% extends 'base.html.twig' %}

{% block title %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    {% for label, messages in app.flashes %}
        <div class="alert ">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <a href="{{ path('main_home') }}"> Retour </a>


    <div class="sortie-grid">
       {#
       {% for sortie in sortie %}
            <div class="sortie-card">
                <a href="{{ path('sortie_app_inscription', {'id': sortie.id}) }}">{{ sortie.name }}</a><br>
                <a href="{{ path('sortie_app_delete', {'id': sortie.id}) }}" class="sortieDelete">Se désister</a>
                <a href="{{ path('app_detail_sortie', {'id': sortie.id}) }}" class="sortieDelete">Détails</a>
            </div>


        {% endfor %}
       #}

        <table border="1" cellpadding="10" cellspacing="0">

            <tbody>


            </tbody>
        </table>

        {#
        <div class="lesUtilisateurs">
            <a href="{{ path('app_register_admin') }}">Inscrire un nouvel utilisateur</a>

            {% for user in user %}

                <ul>
                    <li>{{ user.firstName }}</li>
                    <li>{{ user.email }}</li>
                    <li>{{ user.phoneNumber }}</li>
                </ul>

            {% endfor %}
        </div> #}


    </div>





{% endblock %}

