{% extends 'base.html.twig' %}

{% block title %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

    <h1 class="tea"> ERROR 418 </h1>

    <p>Valeur de max : {{ max }}</p>



        <p>{{ errorMax}} </p>
    <p>{{ errorDate }}</p>
    <p><a href="{{ path('main_home') }}">Choisir un autre endroit pour sortir</a> </p>



{% endblock %}

