{% extends 'base.html.twig' %}




{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <h1>Viens on sort !</h1>



    {% if app.user %}
        <div class="mb-3">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="areUAdmin">
                    <a href="{{ path('sortie_add') }}">Ajouter des sorties</a>
                    <p>Vous etes un administrateur ? </p>
                    <a href="{{ path('app_admin') }}">Cliquez ici </a>
                    <a href="{{ path('main_inscription') }}">S'inscrire à une sortie</a>


                </div>






            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('sortie_add') }}">Ajouter des sorties</a>
                <a href="{{ path('main_inscription') }}">S'inscrire à une sortie</a>
                {% endif %}
            Bienvenido {{ app.user.userIdentifier }}


        </div>
    {% endif %}



{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}