{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/outing.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/4d36bcb065.js" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="outing-form-section">
        <h2>Modifier une sortie</h2>
        {{ form_start(updateOutingForm) }}
        <div class="add-outing-form">
            <div class="left-outing-form-fields">
                {{ form_row(updateOutingForm.name) }}
                {{ form_row(updateOutingForm.startDateTime) }}
                {{ form_row(updateOutingForm.registrationLimitDate) }}
                {{ form_row(updateOutingForm.nbMaxRegistration) }}
                <div class="outing-duration-field">
                    {{ form_row(updateOutingForm.duration)}} minutes
                </div>
                <div class="outing-textarea-field">
                    {{ form_row(updateOutingForm.outingInfos) }}
                </div>
            </div>
            <div class="right-outing-form-fields">
                {{ form_row(updateOutingForm.campus) }}
                <div class="outing-form-location-field">
                    {{ form_row(updateOutingForm.location) }} <a href="{{ path('location_add') }}"><div class="outing-form-add-location-icon"><i class="fa-sharp fa-solid fa-plus"></i></div></a>
                </div>
                <div>
                    <label for="street">Rue : </label>
                    <input type="text" id="street" name="street">
                </div>
                <div>
                    <label for="postalCode">Code postal : </label>
                    <input type="text" id="postalCode" name="postalCode">
                </div>
                <div>
                    <label for="latitude">Latitude : </label>
                    <input type="text" id="latitude" name="latitude">
                </div>
                <div>
                    <label for="longitude">Longitude : </label>
                    <input type="text" id="longitude" name="longitude">
                </div>
            </div>
        </div>
        <div class="btn-outing-add">
            <!-- Save button: submits the form with action=save -->
            <button type="submit" name="action" value="save">Enregistrer</button>
            <!-- Publish button: submits the form with action=publish -->
            <button type="submit" name="action" value="publish">Publier la sortie</button>
            <!-- Delete button: asks for confirmation before submitting -->
            <button type="submit" name="action" value="delete"
                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer la sortie {{ outing.name }} ?');">
                Supprimer la sortie
            </button>
            <!-- Reset button: resets the form fields -->
            <button type="submit" name="action" value="cancel">Annuler</button>
        </div>
        {{ form_end(updateOutingForm) }}
    </section>
{% endblock %}
