<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
<nav>
    <div class="sortir-logo-div">
        <div>
            <a href="{{ path('detail') }}"><h1>Sortir.com</h1></a>
        </div>
        <ul class="nav">

            {% if app.user %}

                <li><a href="{{ path('main_home') }}">Accueil</a></li>
                <li><a href="{{ path('detail') }}">Mon profile</a></li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Login</a></li>
            {% endif %}


        </ul>
    </div>

</nav>
