{% extends 'base.html.twig' %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <h1>Profile de {{ user.firstname }}</h1>

    <div class="user-details">

        <img style="width: 200px;" src="{{ 'userImages/' ~ user.userImage }}"
             alt="image de {{ user.firstname }}">
        <p>Prénom: {{ user.firstName }}</p>
        <br>
        <p>Nom: {{ user.lastName }}</p>
        <br>
        <p>Téléphone: {{ user.phoneNumber }}</p>
        <br>
        <p>Mail: {{ user.email }}</p>
        <br>
        <p>Campus: {{ user.campus.name }}</p>
        <br>
        <div>

            <a href="{{ path('main_home') }}">Retour</a>
        </div>

    </div>
{% endblock %}